.key {
  width: 85px;
  height: 85px;
  display: inline-block;
  background: rgba(32, 188, 198, 0.35);
  border-radius: 10px;
  font-size: 36px;
  text-align: center;
  line-height: 85px;
  margin-bottom: 12px;
  color: #fff;
  &.focus,
  &:hover {
    background-color: #20BCC6;
    outline: none;
  }
  &:not(:nth-of-type(3n)) {
    margin-right: 12px;
  }
}

svg {
   display: inline-block;
   vertical-align: sub;
   width: 64px;
   height: 39px;
   fill: #fff;
 }