@import "typography";

.todo-app{
  font-family: $demi-font;
  width: 50%;
  margin: 0 auto;
  color: red;
  ul{
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
  }
}
