@import "scss/_mixins/font-face";
@import "scss/vars";
@import "scss/typography";

body {
  font-family: $default-font;
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: absolute;
  background-color: #0e151b;
  top: 0;
  left: 0;
  color: $default-text-color;
}
#Macid,
#oipfConfiguration{
  opacity: 0
}


.button {
  background-color: rgba(32, 188, 198, 0.5);
  border: 3px solid rgba(32, 188, 198, 1);
  width: 368px;
  text-transform: uppercase;
  color: #fff;
  height: 85px;
  font-size: 32px;
  font-family: $demi-font, sans-serif;
  border-radius: 42px;
  &:focus {
    background-color: rgba(32, 188, 198, 1);
    outline: none;
  }
}
