//Colors
$dark-item-color: hsla(208, 32%, 23%, 1); //dark-grey
$light-item-color: hsla(211, 11%, 36%, 1); //light-grey
$accent: hsla(182, 70%, 45%, 1); //lazure(accent)
$accent-pink: hsla(331, 92%, 64%, 1); //pink(accent)
$background: hsla(208, 33%, 8%, 1);

